@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    padding: 0;
    margin: 0 ;
}

html{ 
    font-size: 62.5%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 100%;
}

body{
    background-color: aquamarine;
    
}


.nav-1{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    /* margin-right: 2rem; */
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-right:3rem;
       font-size: 1rem;
    
}

.nav-1 img{
    justify-content: center;
   
    
}




nav ul{
    list-style: none;
    margin-top: 2.5rem;
    
    
}


nav ul li{
      display: inline-block;
      margin-left: 3rem;
      padding-top: 3.5rem;
}

nav ul a{
    font-size: 4rem;
    color: black;

}

ul li a:hover{
    color: rgb(253, 127, 179);
}

nav ul li a{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    
}

/*Aqui termina la configracion de el nav */

.sobreMiSection{
    text-align: center;
}

/* .sobreMiSection h2{
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 30px;
} */

.sobreMiSection p{
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

.sobreMiSection img{
    width: 95%;
}


header img{
     width: 70%;
     margin-top: 5rem;
     border: solid;
     float: none;
         
}


.textos{
    text-align-last: center;
    
}

header{
    text-align: center;
}

h1,h2,h3,h4{
   font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    text-align: center;
}

main section p{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 400;
}



.container{
    display: flex;
    
}



/*Aqui comienza la configracion de el Login */

/* .formularioLogin{
    display: block;
    text-align: center;
    height: 10rem;
    box-sizing: border-box;
    margin: 2rem;

}    */
/*Aqui acomode manualmente para que los imput 
y los textos que estan arriba quedaran centrados 
pero al cambiar de resolucion todo se desordena dejo
 esta nota para recordar sacarlo si es que necesito 
 sacarlo dejare los comandos que use para modificarlo fueron la clase 

 .contactCenter{
    margin-left: 4rem;
}
y  en imputClass puse ( margin-left:76rem;). */


.logParf{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    color: black;
    font-size: xx-large
}

.imputClass{
    background-color: rgba(223, 140, 186, 0.349);
    display: block;
    width: 40rem;
    margin: auto;
    padding-left: 0.6251rem;
     height: 5rem;
    border: 1px solid rgb(7, 7, 7);
    border-radius: 0.125rem;
    color: black;
    margin-bottom: 2rem;
    border-top-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    font-size: 2rem;
    outline: none;
    text-align: center;
 
}



.footerLogin {
    /* position:absolute; */
    left: 168rem;
    /* right: auto; */
    top: 5rem;
    text-align: center;
    margin: 30px;
    
}

footer a img{
    width: 6rem;
}

/* .formContacto{
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin: 2rem;
 
} */


.caja{
    color: black;
    font-weight: bold;
    width: 48rem;
    height: 15rem;
    text-align: center;
    margin: 1px; 
    
   
}


.imgProducto{
    max-width: 35rem;
    margin-top: 5rem;
}

/*Comienzo Sucursales*/
/*Y Class reutilizables para bolsa de mercado*/

.containerSucursales{
      display: flex;
      flex-direction: column;
      text-align: center;
} 
.cajaLocal{
    display: flex;
    flex-direction: column;
    background-color: rgba(223, 140, 185, 0.596);
    /* height: auto;
    width: 100%; */
    align-items: center;
    justify-content: space-around;
    
    margin-top: 10rem;
    border: solid;
}
.cajaLocal p{ 
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top:4.5rem;
    font-weight: 600;
  
}


.pCaja{
    font-size: 10rem;
    
}

/*Sobre Mi*/

.pHeaderindex{
    font-size: 6rem;
}




.pSobremi{
    font-size: 2rem;
    opacity: 5rem;
    
}



/*Termina Sobre mi*/

/*Aqui se encuentra la page index*/
/* Galeria Index*/
.gridFoto{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: transform 0.4s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.gridFoto:hover{
    filter: opacity(10);
    transform: scale(1.07);
}

#containerGridgaleria{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: dense;
    gap: 10px;
    padding: 20px;
    
}


/* media de la pagina index que se encuentra dentro de la galeria*/
 @media (min-width: 600px){ 
    
    .fila{
        grid-row: span 2;
    }
    
    .columna{
       grid-column: span 2; 
     }
    
     .columna3{
        grid-area: span 3;
     }
 
} 
    


/*Bolsa De Mercado*/

.parrafoBolsa{
    display: flex;
    margin-top: 5rem;
    font-size: 6rem;
    justify-content: center;
    
}

/*Tienda*/

.configuracionDiv{
    background-color: rgba(223, 140, 185, 0.596);
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    
}

.configuracionBoton{
    justify-content: space-between;
    background-color:rgba(47, 236, 236, 0.63);
    font-size: 2rem;
    color:black;
    /* margin-top: 1rem;
    margin-right: 12rem; */
    border-radius: 2rem;
    border: 0.1rem solid rgb(116, 113, 113);
    
}

section{
    position: sticky;
    top: 0;
}

.listadoDeproductos{
    background-color:rgba(223, 140, 185, 0.596);
    
    line-height: 8rem;
    border-radius: 9rem;
    border: 0.1rem solid rgb(116, 113, 113);
    list-style: none;
    text-decoration: none;

}

.contenedorDeproductos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3.5rem;
    box-shadow: 0px 0px 10px 10px black;
   
    
}

.cajaProductos{
    box-shadow: 0px 0px 5px 0.5px black;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    height: auto;
    margin: 2rem;
    border: 0.1rem solid black;
    border-radius: 2rem;
    background-color: rgba(223, 140, 185, 0.596);
   
}

.cajaProductos{
    height: 30rem;
    width: 30rem;
    
}

.cajaDeimagen img{
    object-fit: cover;
    width: 30rem;
    height: 18rem;
    margin-top: 1rem;
    border-radius: 2rem;
}

.caracteristicasProducto{
    margin: 2rem;
    font-size: 80rem;
    
}

.caracteristicasProducto p{
    font-size: x-large;
    font-weight: 600;
}

.botonDecaja{
    background-color: rgba(47, 236, 236, 0.63);
    color: black;
    border-radius: 0.5rem;
    width: 14rem;
    height: 2.2rem;
}

section div ul li:hover{
    color: rgb(106, 250, 255);
}

/*mapa de local principal de el index*/

.iFrameIndex{
    height:30rem;
    width: 98.8vw;
    text-align: center;
    /* padding-left: 0.5rem; */
    
} 

  /*Grid de general de toda la pagina que comenzo en la pagina sobre mi*/

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "nav"
    "header"
    "asideGaleria"
    "main"
    "aside"
    "asideContacto"
    "mainLogin"
    "classContacto"
    "mainIndex"
    "footer"
    ;
    
}

#nav{
    grid-area: nav;
}

#header{
    grid-area: header;
    
}

#section{
    grid-area: section;
}
#aside{
    grid-area: aside;
}
#main{
    grid-area: main;
}

#footer{
    grid-area: footer;
}

#asideContacto{
    grid-area: asideContacto;
 }

 #mainContacto{
    grid-area: classContacto;
 }

 #mainSucursales{
    grid-area: mainSucursales;
 }
#mainLogin{
    grid-area: mainLogin;
}

#mainIndex{
    grid-area: mainIndex;
}
#asideGaleria{
    grid-area: asideGaleria;
}

@media (min-width: 600px){
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "nav    nav"
        "header  header"
        "aside   main"
        "mainLogin mainLogin "
        "asideGaleria asideGaleria"
        "asideContacto asideContacto"
        "classContacto classContacto"
        "mainIndex mainIndex"
        "footer  footer"
        ;
    } 
}

    .nav-1{
       
     justify-content: space-between;
    
    }
    
    #header{
        text-align: center;
    }
    #aside{
    justify-content: center;
 }

 .grid{
        grid-template-columns: 1fr;
        grid-template-areas:
        "nav    "
        "header  "
        "aside   "
        "asideContacto "
        "classContacto "
        "mainIndex"
        "footer  footer"
        ;
    
}

@media (min-width: 800px){
    .grid{
        grid-template-columns: auto auto auto;
        grid-template-areas:
        "nav     nav"
        "header  header"
        "aside   main  main"
        "main     main  main"
        "asideGaleria asideGaleria asideGaleria"
        "asideContacto asideContacto asideContacto"
        "classContacto classContacto classContacto"
        "footer  footer footer ";
    } 
 
    .nav-1{
    flex-direction: row;
    justify-content: space-between;
    
    }
    
    #header{
        text-align: center;
    }

    .nav-1 img{
        justify-content: center;
        margin-top: 6rem;
        margin-left: 1rem;
    }
    #main {
        margin-top: 58px;
    }
    

} 



 @media (min-width: 1330px){ 
    .grid{
        grid-template-columns:auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "nav    nav    nav"
        "header header hedader"
        "aside  main    main"
        "main    main   main"
        "footer  footer footer ";
        
        
       
    } 
      
     
    .nav-1{
        display: flex;
        font-size: 2rem;
        justify-content: center;
        /* margin-right: 2rem; */
        align-items: center;
        flex-direction: column;
        /* justify-content: space-between; */
        margin-right:3rem;
           font-size: 1rem;
        
    }
    
    
    .nav-1{
        flex-direction: row;
        justify-content: space-between;
        text-align: center;    
    }   
     
    #header{
        text-align: center;
    }
     #aside{
        display: block;
        text-align: center;
        box-sizing: border-box;
        margin: 2rem;
   }
   .classContacto{
    display: flex;
    flex-direction: column;
}
} 



@media (min-width: 1400px){
    .grid{
        grid-template-columns: auto auto auto ;
        grid-template-areas:
        "nav nav nav"
        "header header hedader"
        "aside main main"
        "main main main"
        "footer footer footer ";
        
    } 

    .nav-1{
        
        flex-direction: row;
        
    }

    .gridSucursales{
        grid-template-columns: auto auto auto ;
        grid-template-areas:
        "nav nav nav"
        "header header hedader"
        "mainSucursales mainSucursales mainSucursales"
        "main main main"
        "footer footer footer ";
        
    } 
 
    
    .nav-1 img{
        justify-content: center;
        margin-top: 6rem;
        margin-left: 17rem;
    }
    
    .classContacto{
        display: flex;
        flex-direction: column;
        
    }
} 

/*media de grid general de todas las paginas*/



@media (min-width: 1500px){
    .contenedorSobremi{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        "nav nav nav"
        "header header header"
        "asideGaleria asideGaleria asideGaleria"
        "main main main"
        "aside aside aside"
        "footer footer footer";
       }   
     
       #main{
        text-align: center;
        width: 100%;
        height: 100%;
       
    } 
    
         
    .contenedorSobremi{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .asideSobrenosotros{
        width: 40%;
       margin-left:20rem ;
       margin-top: 5rem;       
        
    }
    
    .asideSobrenosotro{
        width: 50%;
       margin-left:10rem ;
       margin-top: 5rem;    
         
      
    }
    .mainSobremi{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    
    }
    .sobreMiSection{
        align-items: center;
        
    
    } 

} 