// General para las paginas Variables

$mainColor: pink;
$colorFont:rgb(34, 33, 33);
$secondaryColor: rgb(253, 141, 159);
$backgroundColorBox: rgba(253, 141, 160, 0.589);




*{
    font-family: 'Dancing Script';
    padding: 0;
    margin: 0;
    list-style: none;
    
}

