//  formulario de contacto
.classBootomcontacto{
    text-align: center;
    color: black;
    padding: 0.5rem;
    border: solid rgb(231, 114, 133) 0.20rem;
    font-size: 1.2rem;
    font-weight: 900;
    background-color: rgba(255, 192, 203, 0.315);
    text-decoration: none;
    border-radius:26%

}
// clases compartidas con la page  log in
// .imgResponsiveForm{
//     width: 100% ;
//     height: 100%;
//     border-radius: 1rem 0 0 1rem;
// }

// .classForm{
//     display: flex;
//     align-items: center;
//     justify-content: center; 
//     font-size: 1.4rem; 
//     font-weight: 500;
//     border-radius: 1rem 0 0 1rem;
// }

