 //fonts usadas de google//

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


$mainFont:'Dancing Script';
$secondaryFont: system-ui;


//sizings//
$textmd:1.3rem;
$textlg:1.8rem;
$textsm:0.8rem;

//weights//

$textbold:600;
$textRegular:400;
$textThin:200;
