// Extend

.botonForms{
    text-align: center;
    color: black;
    padding: 0.5rem;
    border: solid rgb(231, 114, 133) 0.20rem;
    font-size: 1.2rem;
    font-weight: 900;
    background-color: rgba(255, 192, 203, 0.315);
    text-decoration: none;
    border-radius:25%

}




// Mixins

@mixin Textos($size,$interlineado,$color){

    font-size: $size; 
    line-height: $interlineado;
    color:$color;
    margin: 10px 30px;
    padding: 10px;
    font-family: "Dancing Script";

}

// p{
//    @include Textos(1em,2.2em ,black )

// }


@mixin flex ($dire, $justify, $align, $wrap){

    display: flex;
    flex-direction: $dire;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

// .box{
//     @include flex(row, center ,flex-end ,nowrap )
// }

//Maps 

//Paleta de colores

$paleta:(
    "transparent": transparent,
    "color1": #140e06,
    "color2": #4e3f1a,
    "color3": #518dff,
    "color4": #ffd3f4,
    "color5": #fffbf4,
    "color6": #20a4d8,
    "color7":#f497e9,
    "color8": #f6b5ab,
    "color9":#f4eb98,
    "color10": #c0efec,
    "color11": rgba(255, 192, 203, 0.315),
    "color12": rgba(248, 167, 181, 0.411),
    
);








