// Aqui comienza la pagina Sobre mi

.mainSobremi{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
 
    
}

.mainSobremiCenter {
    justify-content: center;
    text-align: center;
     
}